<div class="menu">
  <a>&#9776;</a>
  <a href="">Scores</a>
  <a href="">Schedules</a>
  <a href="">News</a>
  <a href="">Video</a>
  <a href="">NBA TV</a>
  <a href="">Standings</a>
  <a href="">Stats</a>

  <div class="dropdown">
    <p class="menu dropdown">Pick 'Em</p>
    <div class="dropdown-content">
      <a href="/">Pick 'Em Home</a>
      <a href="/">Weekly 6</a>
      <a href="/">Team Win Totals</a>
      <a href="/">NBA InPlay</a>
      <a href="/">Fantasy & Gaming</a>
    </div>
  </div>

  <div class="dropdown">
    <p class="menu dropdown">Shop</p>
    <div class="dropdown-content">
      <a href="/">Jerseys</a>
      <a href="/">Men</a>
      <a href="/">Women</a>
      <a href="/">Kids</a>
      <a href="/">Custom Shop</a>
    </div>
  </div>
  <a href="">Tickets</a>
  <a href="">NBA Leaugue Pass</a>
  <a href=""></a>
  <div class="dropdown-content">
    <a href="/">Sign Out</a>
  </div>
</div>