<!-- <nav class="main-nav" id="main-nav">
  <div class="menu">
    <div class="dropdown">
      <a href="javascript:void(0);" class="icon" onclick="navbarResponse()">&#9776;</a>
      <div class="dropdown-content">
        <app-search *ngIf="players" [players]="players" (selectedPlayer)="navigateToPlayer($event)"></app-search>
        <a href="/">NBA VR</a>
        <a href="/">Full Schedules</a>
        <a href="/">Key Dates</a>
        <a href="/">NBA Events</a>
        <a href="/">Fantasy & Gaming</a>
        <a href="/">NBA History</a>
        <a href="/">WNBA</a>
        <a href="/">NBA G League</a>
        <a href="/">NBA 2k Leaugue</a>
        <a href="/">NBA Game Worn</a>
        <a href="/">NBA Cares</a>
        <a href="/">Jr. NBA</a>
        <a href="/">NBA Academy</a>
        <a href="/">NBA Communications</a>
        <a href="/">NBA Officials</a>
        <a href="/">NBA Initiatives</a>
        <a href="/">NBA Info</a>
      </div>
    </div>
    <span><img class="login" src="../assets/img/nbalogo.png" alt="account"></span>
    <a href="">Scores</a>
    <a href="">Schedules</a>
    <a href="">News</a>
    <a href="">Video</a>
    <a href="">NBA TV</a>
    <a href="">Standings</a>
    <a href="">Stats</a>

    <div class="dropdown">
      <p class="menu-dropdown">Pick 'Em</p>
      <div class="dropdown-content">
        <a href="/">Pick 'Em Home</a>
        <a href="/">Weekly 6</a>
        <a href="/">Team Win Totals</a>
        <a href="/">NBA InPlay</a>
        <a href="/">Fantasy & Gaming</a>
      </div>
    </div>
    <nav>
      <div class="dropdown">
        <p class="menu-dropdown">Shop</p>
        <div class="dropdown-content">
          <a href="/">Jerseys</a>
          <a href="/">Men</a>
          <a href="/">Women</a>
          <a href="/">Kids</a>
          <a href="/">Custom Shop</a>
          <a href="/">HardWood Classics</a>
          <a href="/">Hats</a>
          <a href="/">Footwear</a>
          <a href="/">Auctions</a>
          <a href="/">NBA Game Worn</a>
          <a href="/">NYS Store</a>
          <a href="/">NBA Photo Store</a>
        </div>
      </div>
      <a href="">Tickets</a>
      <a href="">NBA Leaugue Pass</a>
      <a href="">Shop</a>
      <div class="dropdown">
        <span><img class="login" src="../assets/img/login.png" alt="account"></span>
        <div class="dropdown-content">
          <a href="/">Account Details</a>
          <a href="/">Help</a>

          <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
            <label class="onoffswitch-label" for="myonoffswitch">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
            </label>
          </div>

        </div>
      </div>
  </div>
  <div class="container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/9pJTA5jao6Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</nav> -->


<nav class="main-nav" id="main-nav">
  <a href="/" class="active">Home</a>
  <a class="nav-link" routerLink="/teams">Teams <span class="sr-only">(current)</span></a>
  <a class="nav-link" routerLink="/players">Players <span class="sr-only">(current)</span></a>
  <a class="nav-link" routerLink="/games">Games <span class="sr-only">(current)</span></a>
  <a class="nav-link" routerLink="/compare">Compare <span class="sr-only">(current)</span></a>
  <a href="javascript:void(0);" class="icon" onclick="navbarResponse()">&#9776;</a>
  <span class="main-nav-search">
      <app-search *ngIf="players" [players]="players" (selectedPlayer)="navigateToPlayer($event)"></app-search>
  </span>
  
</nav>
