<nav class="main-nav" id="main-nav">

    <a href="/"><img src="../../../assets/imgs/nbalogo.png" alt="logo" class="logo"></a>
    <a class="nav-link" routerLink="/teams">Teams <span class="sr-only">(current)</span></a>
    <a class="nav-link" routerLink="/players">Leauge Leaders <span class="sr-only">(current)</span></a>
    <a class="nav-link" routerLink="/games">Schedules <span class="sr-only">(current)</span></a>
    <a class="nav-link" routerLink="/compare">Matchup <span class="sr-only">(current)</span></a>
    <img src="../../../assets/imgs/search.png" alt="logo" class="logo">
    <a href="javascript:void(0);" class="icon" onclick="navbarResponse()">&#9776;</a>
    <span class="main-nav-search">
        <app-search *ngIf="players" [players]="players" (selectedPlayer)="navigateToPlayer($event)"></app-search>
    </span>


</nav>